@model IQueryable<dowjaSports.Models.Product>


@{
    Layout = "~/Views/Shared/_Mylayout.cshtml";
}

<table style="margin:10px 100px 100px 100px">
    <tr>
        <td align="center">
            <h2>About Us</h2>
        </td>
    </tr>
    <tr>
        <td >
            We, Dojaw Sports, would like to introduce ourselves as one of the leading manufacturer and exporter of Sportswear, Leisurewear, Outdoor, Fitness wear, Street wear, Team Sports  for Men’s, Women’s and

            Kids in Woven and Knitted Fabric.
            <br />
            Our product line includes: –
            <br />
            * Trousers/Pants
            <br />
            * All type of Shorts/
            <br />
            * Track Suits/Jogging Suits
            <br />
            * Sweat Shirts/Hoody
            <br />
            * Polo Shirts/T-Shirts
            <br />
            * Outdoor Jackets/Shell Jacket, rain wears, Vests, and Body Warmers
            <br />
            * All Type of Team Uniforms: – Soccer, Goalkeeper Trouser, shirts & shorts, Basket Ball and Tennis.
            <br />
            To produce above range of products, what we have is: –

            10 Years of experience in this industry. We are working with famous brands around the
            globe.
            Facilities for all kind of knitted and woven fabric: –
            Knitted – Polyester, Cotton, Nylon/Spandex, Blended Fabrics like Polyester/Cotton,
            Cotton/Polyester, Cotton/Spandex, Nylon/Spandex, Terry, Fleece & Jersey.
            Woven – Polyester, Nylon, Cotton, Nylon/Cotton, Nylon/Spandex, Polyester/Cotton
            Facility to give fabric comfort, and durability with Treatment/Finish like – Teflon, Dry Fit,
            Coolmax, Milky, and PU/PA Coating. Breathable, Anti pilling, etc.
            Research and Development department, which always busy in developing new styles. We are
            also able to develop customer’s styles.
        </td>
    </tr>
    <tr>
        <td align="center" style="padding-top:20px">
            <h3>Founders vision</h3>
        </td>
    </tr>
    <tr>
        <td>
            We the profounders are keen to provide the best possible quality in sports goods
            Our slogan is none other than to strive for the quality and best customer services a user may expect.
        </td>
    </tr>
    <tr  >
        <td style="padding-top:20px" align="center"><h3> What we provide</h3></td>
    </tr>
    <tr>
        <td> Dojaw sports a name of trust in sialkot, is doing its best efforts to accomplish the vision
We provide the best quality products in the town along with a plus point of export at local and international level with a minimal and lowest possible prices.</td>
    </tr>
</table>