@{
    Layout = "~/Views/Shared/_Mylayout.cshtml";
}

    


   <h2 style="text-align:center">Contact</h2>
  
<br />
<br />
<table align="center">
    <tr>
        <td>
            <h3>Proprieter Yaseen Azeem</h3>
        </td>
        <td>
                0314 4681668
        </td>
    </tr>
    <tr>
        <td><h3>Sales manager ch saad</h3></td>
        <td>    03441408320</td>
    </tr>
    <tr>
        <td><h3>Email</h3></td>
        <td>    info@dojawsports.com</td>
    </tr>
    
</table>